{
  "openapi": "3.0.1",
  "info": {
    "title": "Steadybit Platform API",
    "description": "Steadybit Platform API allows to control the platform to e.g. create, run or stop an experiment or setting up the platform with teams and environments.<br/>\n<br/>\nThe API is a HTTP REST API. You can use resource-oriented URLs to call the API. If applicable, request bodies are expressed using `json` or `yml`.<br/>\nSuccess or failure of an API call is expressed via status codes and the response may contain a `json` or `yml`-formatted body.\n",
    "contact": {
      "name": "Steadybit GmbH",
      "url": "https://steadybit.com",
      "email": "support@steadybit.com"
    },
    "version": "2.8.7"
  },
  "externalDocs": {
    "description": "Steadybit Docs - Integrate via API",
    "url": "https://docs.steadybit.com/integrate-with-steadybit/api"
  },
  "servers": [
    {
      "url": "https://platform.steadybit.com",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Integrations",
      "description": "Enterprise license required for preflight and webhook integrations."
    },
    {
      "name": "Service Profiles",
      "description": "API to manage service profiles. Enterprise license with Services feature required."
    },
    {
      "name": "Targets",
      "description": "API to read target related data. Enterprise license required."
    },
    {
      "name": "Services",
      "description": "API to manage services. Enterprise license required."
    },
    {
      "name": "Properties",
      "description": "API to define and associate properties to entities. Enterprise license required."
    },
    {
      "name": "Audit Log",
      "description": "Enterprise license required."
    }
  ],
  "paths": {
    "/api/teams/{key}/members": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Get all members being part of the team",
        "description": "Get a list of members that are part of the specified team. The list contains the username, being a Steadybit user id, and the role in this particular team (owner or member).",
        "operationId": "getTeamMembers",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Unique identifier of a team",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            },
            "example": "ADM"
          }
        ],
        "responses": {
          "200": {
            "description": "Team found, response body contains all the team members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamMembersAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/TeamMembersAO"
                }
              }
            }
          },
          "404": {
            "description": "Team with given `key` was not found"
          }
        }
      },
      "put": {
        "tags": [
          "Teams"
        ],
        "summary": "Update the members of a specific team",
        "description": "The members of the specified team will be updated with these provided. New team members will be added to the team, team members not provided in the request will be removed from the team.",
        "operationId": "setTeamMembers",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Unique identifier of a team",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            },
            "example": "ADM"
          },
          {
            "name": "validateMembers",
            "in": "query",
            "description": "By default, Steadybit will skip members, which are not yet know. If set to true, Steadybit will validate the given members and show a 422 response.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "requestBody": {
          "description": "Update request to change the members of a specific team. Specify either username, being a Steadybit user id, or the email address of the user.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamMembersUpdateAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Team members updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamMembersAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/TeamMembersAO"
                }
              }
            }
          },
          "422": {
            "description": "Validation error, no update was performed"
          }
        }
      }
    },
    "/api/teams/{key}/environments": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Get all environments assigned to the team",
        "description": "Get a list of members that are part of the specified team. The list contains the username, being a Steadybit user id, and the role in this particular team (owner or member).",
        "operationId": "getTeamEnvironments",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Unique identifier of a team",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            },
            "example": "ADM"
          }
        ],
        "responses": {
          "200": {
            "description": "Team found, response body contains all assigned environments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamEnvironmentsAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/TeamEnvironmentsAO"
                }
              }
            }
          },
          "404": {
            "description": "Team with given `key` was not found"
          }
        }
      },
      "put": {
        "tags": [
          "Teams"
        ],
        "summary": "Update the environments of a specific team",
        "description": "The allowed environments of the specified team will be updated with these provided. New environments will be added to the team, environments not provided in the request will be removed from the team.",
        "operationId": "setTeamEnvironments",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Unique identifier of a team",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            },
            "example": "ADM"
          },
          {
            "name": "validateEnvironments",
            "in": "query",
            "description": "By default, Steadybit will skip environments, which are not yet know. If set to true, Steadybit will validate the given environments and show a 422 response.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "requestBody": {
          "description": "Update request to change the environments of a specific team.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamEnvironmentsAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Team environments updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamEnvironmentsAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/TeamEnvironmentsAO"
                }
              }
            }
          },
          "422": {
            "description": "Validation error, no update was performed"
          }
        }
      }
    },
    "/api/services/{id}/variables": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "Get service variables",
        "description": "Get all variables owned by the service.",
        "operationId": "getServiceVariables",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of a service",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier of a service",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key-value map of variables owned by the service. Each value is either a constant string, an array of constant strings, or a select expression object.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/VariableExpressionAO"
                  },
                  "example": {
                    "httpEndpoint": "http://dev.shop.products.internal"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/VariableExpressionAO"
                  },
                  "example": {
                    "httpEndpoint": "http://dev.shop.products.internal"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Service not found"
          }
        }
      },
      "put": {
        "tags": [
          "Services"
        ],
        "summary": "Replace all service variables",
        "description": "All provided variables will be associated with the given service and existing ones removed.",
        "operationId": "setServiceVariables",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of a service",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier of a service",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/VariableExpressionAO"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Variables updated."
          },
          "404": {
            "description": "Service not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Services"
        ],
        "summary": "Add / merge service variables",
        "description": "All provided variables will be associated with the given service.<br/>If a variable key is already in use, its value is updated.<br/>If a variable is already associated but not provided, it continues to exist.",
        "operationId": "mergeServiceVariables",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of a service",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier of a service",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/VariableExpressionAO"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Variables updated."
          },
          "404": {
            "description": "Service not found"
          }
        }
      }
    },
    "/api/explore/landscape/views/{id}": {
      "get": {
        "tags": [
          "Explorer"
        ],
        "summary": "Fetch a single saved landscape view",
        "description": "Get all details of a single saved explorer landscape view.",
        "operationId": "getLandscapeView",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of a saved view.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier of a saved view.",
              "format": "uuid",
              "example": "ac456d58-8fb2-4df4-86d8-ca81d7562739"
            },
            "example": "ac456d58-8fb2-4df4-86d8-ca81d7562739"
          }
        ],
        "responses": {
          "200": {
            "description": "Saved view found, response body contains its details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LandscapeViewAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/LandscapeViewAO"
                }
              }
            }
          },
          "400": {
            "description": "The given `id` is not a uuid."
          },
          "404": {
            "description": "Saved view with given `id` was not found."
          }
        }
      },
      "put": {
        "tags": [
          "Explorer"
        ],
        "summary": "Update a saved landscape view",
        "description": "Update an existing saved explorer landscape view. The view's thumbnail is rendered by the UI and cannot be produced through the API. When an update changes a field that affects how the landscape renders (environment, filter query, group-by, size-by, color-by or show-advice), the thumbnail is cleared so it is not left stale; a metadata-only change (e.g. name or description) keeps it. The UI regenerates the thumbnail on its next save.",
        "operationId": "updateLandscapeView",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of a saved view.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier of a saved view.",
              "format": "uuid",
              "example": "ac456d58-8fb2-4df4-86d8-ca81d7562739"
            },
            "example": "ac456d58-8fb2-4df4-86d8-ca81d7562739"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertLandscapeViewAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Saved view updated, response body contains its details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LandscapeViewAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/LandscapeViewAO"
                }
              }
            }
          },
          "404": {
            "description": "Saved view with given `id` was not found."
          },
          "422": {
            "description": "Validation error, the saved view was not updated."
          }
        }
      },
      "delete": {
        "tags": [
          "Explorer"
        ],
        "summary": "Delete a saved landscape view",
        "description": "Remove the given saved explorer landscape view from the Steadybit platform.",
        "operationId": "deleteLandscapeView",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of a saved view.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier of a saved view.",
              "format": "uuid",
              "example": "ac456d58-8fb2-4df4-86d8-ca81d7562739"
            },
            "example": "ac456d58-8fb2-4df4-86d8-ca81d7562739"
          }
        ],
        "responses": {
          "200": {
            "description": "Saved view deleted."
          },
          "404": {
            "description": "Saved view with given `id` was not found and thus not deleted."
          }
        }
      }
    },
    "/api/environments/{id}/variables": {
      "get": {
        "tags": [
          "Environments"
        ],
        "summary": "Get environment variables",
        "description": "Get all environment variables associated to a single environment",
        "operationId": "getEnvironmentVariables",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of a environment",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier of a environment",
              "format": "uuid"
            },
            "example": "2v1av42-e525-4c00-a13a-1ac32d170724"
          }
        ],
        "responses": {
          "200": {
            "description": "Key-value-Map of environment variables associated to the environment. Each value is either a constant string, an array of constant strings, or a select expression object.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/VariableExpressionAO"
                  },
                  "example": {
                    "endpoint": "http://dev.example.com",
                    "username": "secret-dev-username"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/VariableExpressionAO"
                  },
                  "example": {
                    "endpoint": "http://dev.example.com",
                    "username": "secret-dev-username"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Environment not found"
          }
        }
      },
      "put": {
        "tags": [
          "Environments"
        ],
        "summary": "Add / merge all environment variables",
        "description": "All provided environment variables will be associated to the given environment.<br/>If an environment variable key is already in use, it's value is updated with the value being provided.<br/>If an environment variable is already associated to the environment but not provided, it continues to exist.",
        "operationId": "updateEnvironmentVariables",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of a environment",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier of a environment",
              "format": "uuid"
            },
            "example": "2v1av42-e525-4c00-a13a-1ac32d170724"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/VariableExpressionAO"
                },
                "example": {
                  "endpoint": "http://dev.example.com",
                  "username": "secret-dev-username"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Variables updated. New variables added and existing ones updated"
          },
          "404": {
            "description": "Environment with given `id` was not found"
          }
        }
      },
      "post": {
        "tags": [
          "Environments"
        ],
        "summary": "Replace all environment variables",
        "description": "All provided environment variables will be associated to the given environment and existing ones removed.<br/>If an environment variable key is already in use, it's value is updated with the value being provided.<br/>If an environment variable is already associated to the environment but not provided, it will be removed.",
        "operationId": "setEnvironmentVariables",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of a environment",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier of a environment",
              "format": "uuid"
            },
            "example": "2v1av42-e525-4c00-a13a-1ac32d170724"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/VariableExpressionAO"
                },
                "example": {
                  "endpoint": "http://dev.example.com",
                  "username": "secret-dev-username"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Variables updated. New variables added, existing ones updated, all other removed."
          },
          "404": {
            "description": "Environment with given `id` was not found"
          }
        }
      }
    },
    "/api/users/invite": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Invite users to a tenant",
        "description": "Invite users to a tenant. The invited users will receive an email with an invitation link to join the tenant.",
        "operationId": "inviteUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteUsersRequestAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Users invited"
          },
          "403": {
            "description": "Insufficient permissions to invite a new user to this tenant."
          },
          "422": {
            "description": "Validation error, no or not all users were invited"
          }
        }
      }
    },
    "/api/teams": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Fetch a list of all teams",
        "description": "Get a list of all teams that exist.<br/> If used with a team-associated `accessToken` and `onlyAccessible` is set to `true` you only get the team of the `accessToken`.",
        "operationId": "getTeams",
        "parameters": [
          {
            "name": "onlyAccessible",
            "in": "query",
            "description": "If set and used with an `accessToken` associated to one or multiple teams, only the team associated to the token are returned. Otherwise, all teams are listed.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "search",
            "in": "query",
            "description": "If set, only teams matching the search are returned. Matches the team name or key, the name or email of a team member, or the name of an allowed environment.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "shop"
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains all existing teams. Fetch a single team by `key` to get more details for a team",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamSummariesAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/TeamSummariesAO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Teams"
        ],
        "summary": "Create or update a team",
        "description": "Insert or update the team in Steadybit. The `key` will be used to identify whether the team exists already and should be updated or newly inserted. If a provided member's username or email is not yet known it will be skipped.",
        "operationId": "upsertTeam",
        "parameters": [
          {
            "name": "validateActions",
            "in": "query",
            "description": "By default, Steadybit checks whether the allowed actions exists and are reported by an agent. For convenience, this can be deactivated to decouple team creation and agent-installation",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "example": false
          },
          {
            "name": "validateMembers",
            "in": "query",
            "description": "By default, Steadybit will skip members, which are not yet know. If set to true, Steadybit will validate the given members and show a 422 response.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertTeamAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Team updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/TeamAO"
                }
              }
            }
          },
          "201": {
            "description": "Team created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/TeamAO"
                }
              }
            }
          },
          "422": {
            "description": "Validation error, team was not created / updated"
          }
        }
      }
    },
    "/api/teams/{key}/members/remove": {
      "post": {
        "tags": [
          "Teams"
        ],
        "summary": "Remove team members from a team",
        "description": "The given members will be removed from the specified team. However, they are still able to login, view the content of the team and may still be member of another team.",
        "operationId": "removeTeamMembers",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Unique identifier of a team",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            },
            "example": "ADM"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamMembersRemoveAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Team members removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamMembersAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/TeamMembersAO"
                }
              }
            }
          },
          "422": {
            "description": "Validation error, no team members were removed"
          }
        }
      }
    },
    "/api/teams/{key}/members/add": {
      "post": {
        "tags": [
          "Teams"
        ],
        "summary": "Add team members to a team",
        "description": "The given members will be added to the specified team.",
        "operationId": "addTeamMembers",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Unique identifier of a team",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            },
            "example": "ADM"
          },
          {
            "name": "validateMembers",
            "in": "query",
            "description": "By default, Steadybit will skip members, which are not yet know. If set to true, Steadybit will validate the given members and show a 422 response.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamMembersUpdateAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Team members added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamMembersAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/TeamMembersAO"
                }
              }
            }
          },
          "422": {
            "description": "Validation error, no team member were added"
          }
        }
      }
    },
    "/api/teams/{key}/environments/remove": {
      "post": {
        "tags": [
          "Teams"
        ],
        "summary": "Remove allowed environment from a team",
        "description": "The given environments will be removed from the specified team.",
        "operationId": "removeTeamEnvironments",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Unique identifier of a team",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            },
            "example": "ADM"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamEnvironmentsUpdateAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Team environments removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamEnvironmentsAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/TeamEnvironmentsAO"
                }
              }
            }
          },
          "422": {
            "description": "Validation error, no team environments were removed"
          }
        }
      }
    },
    "/api/teams/{key}/environments/add": {
      "post": {
        "tags": [
          "Teams"
        ],
        "summary": "Add an allowed environment to a team",
        "description": "The given environments will be added to the specified team.",
        "operationId": "addTeamEnvironments",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Unique identifier of a team",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            },
            "example": "ADM"
          },
          {
            "name": "validateEnvironments",
            "in": "query",
            "description": "By default, Steadybit will skip environments, which are not yet know. If set to true, Steadybit will validate the given environments and show a 422 response.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamEnvironmentsUpdateAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Team environments added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamEnvironmentsAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/TeamEnvironmentsAO"
                }
              }
            }
          },
          "422": {
            "description": "Validation error, no team environment were added"
          }
        }
      }
    },
    "/api/target-stats": {
      "get": {
        "tags": [
          "Target Statistics"
        ],
        "summary": "Gather target statistics without any filters",
        "operationId": "getTargetsStats",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Target Statistics"
        ],
        "summary": "Gather target statistics for a given predicate or query",
        "operationId": "getTargetsStats_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TargetStatsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/services": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "Fetch a list of services",
        "operationId": "getServiceList",
        "parameters": [
          {
            "name": "teamKey",
            "in": "query",
            "description": "Filter results by one or more team key, like 'ADM'",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Filter results by one or more experiment keys being linked to a service, like 'ADM-123'",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "environmentName",
            "in": "query",
            "description": "Filter results by one or more environment name, like 'Global'",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PageRequestAO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body containing all existing services matching the query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseAOServiceSummaryAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseAOServiceSummaryAO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Services"
        ],
        "summary": "Create or update service",
        "description": "Insert or update the service specified by the given `id`.",
        "operationId": "upsertService",
        "parameters": [
          {
            "name": "deleteExperiments",
            "in": "query",
            "description": "When the service profile of a service gets updated, provided experiments whose template ids are not part of the new service profile are not allowed. Setting the value to `true` will delete those experiments.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertServiceAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Service updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAO"
                }
              }
            }
          },
          "201": {
            "description": "Service created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAO"
                }
              }
            }
          },
          "409": {
            "description": "Version not matching"
          },
          "422": {
            "description": "Validation error, Service was not created / updated"
          }
        }
      }
    },
    "/api/services/{id}/experiments/provided": {
      "post": {
        "tags": [
          "Services"
        ],
        "summary": "Create or update a provided experiment.",
        "operationId": "upsertProvidedExperiment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "resetProperties",
            "in": "query",
            "description": "If `true`, all properties will be reset to properties specified in the template either with their fixed values in the template or via template placeholder. If `false`, existing properties will stay untouched, only new properties will be added. Only relevant for experiment updates.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "example": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertProvidedExperimentRequestAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Experiment updated."
          },
          "201": {
            "description": "Experiment created."
          },
          "404": {
            "description": "Service or Template not found."
          },
          "422": {
            "description": "Validation error."
          }
        }
      }
    },
    "/api/services/{id}/experiments/custom": {
      "post": {
        "tags": [
          "Services"
        ],
        "summary": "Link a custom experiment to a service.",
        "operationId": "linkCustomExperiment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkCustomExperimentRequestAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Experiment linked to service."
          },
          "422": {
            "description": "Validation error."
          }
        }
      },
      "delete": {
        "tags": [
          "Services"
        ],
        "summary": "Remove a linked custom experiment from a service.",
        "operationId": "unlinkCustomExperiment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "experimentKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Experiment unlinked from service."
          },
          "422": {
            "description": "Validation error."
          }
        }
      }
    },
    "/api/services/profiles": {
      "get": {
        "tags": [
          "Service Profiles"
        ],
        "summary": "Fetch a list of service profiles",
        "operationId": "getProfiles",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Filter results by name (partial match)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "origin",
            "in": "query",
            "description": "Filter results by origin (PROVIDED, CUSTOM)",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "defaultProfile",
            "in": "query",
            "description": "Filter results by defaultProfile flag",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PageRequestAO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body containing all existing service profiles matching the query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseAOServiceProfileAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseAOServiceProfileAO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Service Profiles"
        ],
        "summary": "Create or update service profile",
        "description": "Insert or update the service profile specified by the given `id`.",
        "operationId": "upsertProfile",
        "parameters": [
          {
            "name": "deleteExperiments",
            "in": "query",
            "description": "When templates are removed from a service profile, provided experiments using those templates will be affected. Setting the value to `true` will delete those experiments.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertServiceProfileAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Service profile updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceProfileAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceProfileAO"
                }
              }
            }
          },
          "201": {
            "description": "Service profile created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceProfileAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceProfileAO"
                }
              }
            }
          },
          "409": {
            "description": "Version not matching"
          },
          "422": {
            "description": "Validation error, Service profile was not created / updated"
          }
        }
      }
    },
    "/api/reports/users": {
      "post": {
        "tags": [
          "Reports"
        ],
        "summary": "Get user counts over time",
        "description": "Returns the number of users in the tenant aggregated into time buckets.",
        "operationId": "getUserCounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportFilterAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User count time series.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesReportAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesReportAO"
                }
              }
            }
          }
        }
      }
    },
    "/api/reports/teams": {
      "post": {
        "tags": [
          "Reports"
        ],
        "summary": "Get team counts over time",
        "description": "Returns the number of teams in the tenant aggregated into time buckets.",
        "operationId": "getTeamCounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportFilterAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Team count time series.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesReportAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesReportAO"
                }
              }
            }
          }
        }
      }
    },
    "/api/reports/services/distribution": {
      "post": {
        "tags": [
          "Reports"
        ],
        "summary": "Get service risk level distribution over time",
        "description": "Returns the count of services in each risk level (LOW, MEDIUM, HIGH) aggregated into time buckets.",
        "operationId": "getRiskDistribution",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceRiskReportFilterAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Risk level distribution time series.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesReportAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesReportAO"
                }
              }
            }
          }
        }
      }
    },
    "/api/reports/services/by-category": {
      "post": {
        "tags": [
          "Reports"
        ],
        "summary": "Get average service risk grouped by category over time",
        "description": "Returns the average risk per category (key from the categoryRisks map) across services, aggregated into time buckets.",
        "operationId": "getRiskByCategory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceRiskReportFilterAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Risk by category time series.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesReportAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesReportAO"
                }
              }
            }
          }
        }
      }
    },
    "/api/reports/services/average": {
      "post": {
        "tags": [
          "Reports"
        ],
        "summary": "Get average service risk over time",
        "description": "Returns the average risk across services aggregated into time buckets. Risk is reported as an integer 0-100.",
        "operationId": "getAverageRisk",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceRiskReportFilterAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Average risk time series.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesReportAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesReportAO"
                }
              }
            }
          }
        }
      }
    },
    "/api/reports/experiments/executed": {
      "post": {
        "tags": [
          "Reports"
        ],
        "summary": "Get experiment execution counts over time",
        "description": "Returns experiment execution counts aggregated into time buckets, optionally grouped by state, trigger, or attack action.",
        "operationId": "getExperimentExecutions",
        "parameters": [
          {
            "name": "groupBy",
            "in": "query",
            "description": "Grouping dimension for the results.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Grouping dimension for experiment execution reports.",
              "default": "NONE",
              "enum": [
                "NONE",
                "STATE",
                "TRIGGER",
                "ACTION",
                "ISSUES_FIXED",
                "ISSUES_DISCOVERED"
              ]
            },
            "example": "STATE"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExperimentExecutionReportFilterAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Execution count time series.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesReportAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesReportAO"
                }
              }
            }
          }
        }
      }
    },
    "/api/reports/experiments/created": {
      "post": {
        "tags": [
          "Reports"
        ],
        "summary": "Get experiment creation counts over time",
        "description": "Returns experiment creation counts aggregated into time buckets, optionally grouped by creation method or origin.",
        "operationId": "getExperimentCreations",
        "parameters": [
          {
            "name": "groupBy",
            "in": "query",
            "description": "Grouping dimension for the results.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Grouping dimension for experiment creation reports.",
              "default": "NONE",
              "enum": [
                "NONE",
                "CREATED_VIA",
                "ORIGIN"
              ]
            },
            "example": "CREATED_VIA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExperimentReportFilterAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Creation count time series.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesReportAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesReportAO"
                }
              }
            }
          }
        }
      }
    },
    "/api/reports/environments": {
      "post": {
        "tags": [
          "Reports"
        ],
        "summary": "Get environment counts over time",
        "description": "Returns the number of environments in the tenant aggregated into time buckets.",
        "operationId": "getEnvironmentCounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportFilterAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Environment count time series.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesReportAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesReportAO"
                }
              }
            }
          }
        }
      }
    },
    "/api/properties/definitions": {
      "get": {
        "tags": [
          "Properties"
        ],
        "operationId": "getPropertyDefinitions",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The number of the page, responses are limited to 50 elements per page.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PageRequestAO"
            },
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseAOPropertyDefinitionAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseAOPropertyDefinitionAO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Properties"
        ],
        "summary": "Create or update property definition",
        "description": "Insert or update the property definition specified by the given `key`.",
        "operationId": "upsertPropertyDefinition",
        "parameters": [
          {
            "name": "deleteValues",
            "in": "query",
            "description": "You can remove enum-values for a ENUM or ENUM_LIST property if they are still in use in experiment designs. Setting this parameter to `true` will delete those values in experiment designs.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertPropertyDefinitionAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Property definition updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyDefinitionAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyDefinitionAO"
                }
              }
            }
          },
          "201": {
            "description": "Property definition created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyDefinitionAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyDefinitionAO"
                }
              }
            }
          },
          "409": {
            "description": "Version not matching"
          },
          "422": {
            "description": "Validation error, property definition was not created / updated"
          }
        }
      }
    },
    "/api/properties/associations": {
      "get": {
        "tags": [
          "Properties"
        ],
        "summary": "Get all current associations.",
        "operationId": "getAssociations",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The number of the page, responses are limited to 50 elements per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "example": 0
          },
          {
            "name": "key",
            "in": "query",
            "description": "Filter association based on a single property definition key",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "RESULT_COLOR"
          },
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Filter association that are explicitly assigned to the given experimentKey. (There might still be associations for ALL Experiment Designs)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "ADM-15"
          },
          {
            "name": "serviceId",
            "in": "query",
            "description": "Filter association that are explicitly assigned to the given serviceId. (There might still be associations for ALL Services)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "c1975ae7-02f6-4a4a-9762-14559b330b8c"
          },
          {
            "name": "associationTypeAO",
            "in": "query",
            "description": "Filter association based on association type (`EXPERIMENT` for experiment-related associations and `SERVICE` for service-related associations, no matter whether globally or individually)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "EXPERIMENT",
                "SERVICE"
              ]
            },
            "example": "EXPERIMENT"
          }
        ],
        "responses": {
          "200": {
            "description": "List of associations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseAOPropertyAssociationAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseAOPropertyAssociationAO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Properties"
        ],
        "summary": "Create or update a property association",
        "description": "   Insert or update the property association. The `id` will be used to identify whether the schedule exists already and should be updated or newly inserted.\n\n   Examples:\n   - Assign the property `RESULT_COLOR` to all experiment designs:\n   ```\n   {\n       \"key\": \"RESULT_COLOR\",\n       \"editableInExecution\": false,\n       \"required\": true\n   }\n   ```\n   - Assign the property `RESULT_COLOR` to the design ADM-15:\n   ```\n   {\n       \"key\": \"RESULT_COLOR\",\n       \"editableInExecution\": false,\n       \"experimentKey\": \"ADM-15\",\n       \"required\": true\n   }\n   ```\n   - Assign the property `RESULT_COLOR` that can be edited in each experiment execution of the experiment with key `ADM-15`:\n   ```\n   {\n       \"key\": \"RESULT_COLOR\",\n       \"editableInExecution\": true,\n       \"experimentKey\": \"ADM-15\",\n       \"required\": false\n   }\n   ```\n   - Assign the property `RESULT_COLOR` to a service `0a2d67b9-1d5a-4179-8c32-e5296be1f56f`:\n   ```\n   {\n       \"key\": \"RESULT_COLOR\",\n       \"associationType\": \"SERVICE\",\n       \"serviceId\": \"0a2d67b9-1d5a-4179-8c32-e5296be1f56f\",\n       \"required\": false\n   }\n   ```\n",
        "operationId": "upsertPropertyAssociation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertPropertyAssociationAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Property association updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyAssociationAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyAssociationAO"
                }
              }
            }
          },
          "201": {
            "description": "Property association created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyAssociationAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyAssociationAO"
                }
              }
            }
          },
          "409": {
            "description": "Version not matching"
          },
          "422": {
            "description": "Validation error, property association was not created / updated"
          }
        }
      }
    },
    "/api/killswitch": {
      "get": {
        "tags": [
          "Killswitch (Emergency Stop)"
        ],
        "summary": "Get the current status of the kill switch",
        "description": "Determines the current status of the kill switch without changing it.",
        "operationId": "getKillswitch",
        "responses": {
          "200": {
            "description": "Kill switch status in the response body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KillswitchAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/KillswitchAO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Killswitch (Emergency Stop)"
        ],
        "summary": "Activate / engage the kill switch",
        "description": "Activates / engages the kill switch to cancel all experiments running at the moment and prevent execution of new experiments until the kill switch is disengaged / deactivated again.",
        "operationId": "engageKillswitch",
        "responses": {
          "200": {
            "description": "Kill switch was activated / engaged"
          }
        }
      },
      "delete": {
        "tags": [
          "Killswitch (Emergency Stop)"
        ],
        "summary": "Deactivate / disengage the kill switch",
        "description": "Deactivates / disengages the kill switch to allow experiment runs.<br/>Experiment runs that were not executed due to engaged / active kill switch will not be automatically executed, they need to be triggered again.",
        "operationId": "disengageKillswitch",
        "responses": {
          "200": {
            "description": "Kill switch was deactivated / disengaged"
          }
        }
      }
    },
    "/api/integrations/webhook": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Fetch a list of custom webhooks",
        "description": "Get a list of all existing custom webhooks.",
        "operationId": "getCustomWebhooks",
        "responses": {
          "200": {
            "description": "Response body contains all existing custom webhooks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponseCustomWebhookAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponseCustomWebhookAO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Create or update a custom webhook",
        "description": "Insert or update a custom webhook.<br/This endpoint requires an admin-token and can't be used with a team-based token.",
        "operationId": "upsertCustomWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomWebhookUpsertAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Custom webhook updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomWebhookAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/CustomWebhookAO"
                }
              }
            }
          },
          "201": {
            "description": "Custom webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomWebhookAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/CustomWebhookAO"
                }
              }
            }
          },
          "422": {
            "description": "Validation error, custom webhook was not created / updated"
          }
        }
      }
    },
    "/api/integrations/slack": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Fetch a list of slack integrations",
        "description": "Get a list of all existing slack integrations.",
        "operationId": "getSlackIntegrations",
        "responses": {
          "200": {
            "description": "Response body contains all existing integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponseSlackWebhookAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponseSlackWebhookAO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Create or update a slack integration",
        "description": "Insert or update a slack integration.<br/This endpoint requires an admin-token and can't be used with a team-based token.",
        "operationId": "upsertSlackIntegration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlackWebhookUpsertAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Slack integration updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackWebhookAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/SlackWebhookAO"
                }
              }
            }
          },
          "201": {
            "description": "Slack integration created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackWebhookAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/SlackWebhookAO"
                }
              }
            }
          },
          "422": {
            "description": "Validation error, slack integration was not created / updated"
          }
        }
      }
    },
    "/api/integrations/preflight": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Fetch a list of preflight webhooks",
        "description": "Get a list of all existing preflight webhooks.",
        "operationId": "getPreflightWebhooks",
        "responses": {
          "200": {
            "description": "Response body contains all existing preflight webhooks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponsePreflightWebhookAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponsePreflightWebhookAO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Create or update a preflight webhook",
        "description": "Insert or update a preflight webhook.<br/This endpoint requires an admin-token and can't be used with a team-based token.",
        "operationId": "upsertPreflightWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreflightWebhookUpsertAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Preflight webhook updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreflightWebhookAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/PreflightWebhookAO"
                }
              }
            }
          },
          "201": {
            "description": "Preflight webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreflightWebhookAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/PreflightWebhookAO"
                }
              }
            }
          },
          "422": {
            "description": "Validation error, preflight webhook was not created / updated"
          }
        }
      }
    },
    "/api/integrations/preflight-action": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Fetch a list of preflight action integrations",
        "description": "Get a list of all existing preflight preflight action integrations.",
        "operationId": "getPreflightActionIntegrations",
        "responses": {
          "200": {
            "description": "Response body contains all existing preflight preflight action integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponsePreflightActionIntegrationAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponsePreflightActionIntegrationAO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Create or update a preflight action integration",
        "description": "Insert or update a preflight action integration.<br/This endpoint requires an admin-token and can't be used with a team-based token.",
        "operationId": "upsertPreflightActionIntegration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreflightActionIntegrationUpsertAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Preflight action integration updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreflightActionIntegrationAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/PreflightActionIntegrationAO"
                }
              }
            }
          },
          "201": {
            "description": "Preflight action integration created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreflightActionIntegrationAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/PreflightActionIntegrationAO"
                }
              }
            }
          },
          "422": {
            "description": "Validation error, preflight action integration was not created / updated"
          }
        }
      }
    },
    "/api/hubs": {
      "get": {
        "tags": [
          "Hubs"
        ],
        "summary": "Fetch a list of all hubs",
        "description": "Get a list of all hubs that are currently connected.",
        "operationId": "getHubs",
        "responses": {
          "200": {
            "description": "Response body contains all hubs. Fetch a single hub by `id` to get more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubSummariesAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/HubSummariesAO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Hubs"
        ],
        "summary": "Create or update a hub",
        "description": "Insert or update a hub. The `id` will be used to identify whether the hub exists already and should be updated or newly inserted. The hub content can be synchronized depending on the `resync` parameter. This operation is executed synchronously and may take some time to complete depending on the network connection to hub address.",
        "operationId": "upsertHub",
        "parameters": [
          {
            "name": "synchronize",
            "in": "query",
            "description": "Whether to synchronize the hub or not.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertHubAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Hub updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/HubAO"
                }
              }
            }
          },
          "201": {
            "description": "Hub created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/HubAO"
                }
              }
            }
          },
          "422": {
            "description": "Validation error, hub was not created / updated."
          }
        }
      }
    },
    "/api/hubs/{id}/resync": {
      "post": {
        "tags": [
          "Hubs"
        ],
        "summary": "Re-synchronize a hub",
        "description": "Fetch the latest hub definition based on `hubRepository`. This operation is executed synchronously and may take some time to complete depending on the network connection to hub address.",
        "operationId": "resyncHub",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of a hub",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "d7e65100-1d20-4980-be87-c351704910b8"
          }
        ],
        "responses": {
          "200": {
            "description": "Hub re-synchronized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/HubAO"
                }
              }
            }
          },
          "404": {
            "description": "Hub with given `id` was not found and thus not re-synchronized."
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/api/hubs/connection-check": {
      "post": {
        "tags": [
          "Hubs"
        ],
        "summary": "Check a hub connection",
        "description": "Check if the given hub connection details point to a valid hub.",
        "operationId": "connectionCheck",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HubConnectionCheckAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Hub successful resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubConnectionCheckResponseAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/HubConnectionCheckResponseAO"
                }
              }
            }
          },
          "400": {
            "description": "Hub could not be resolved."
          }
        }
      }
    },
    "/api/explore/landscape/views": {
      "get": {
        "tags": [
          "Explorer"
        ],
        "summary": "Fetch all saved landscape views of a team",
        "description": "Get a list of all saved explorer landscape views that belong to the given team.",
        "operationId": "getLandscapeViews",
        "parameters": [
          {
            "name": "team",
            "in": "query",
            "description": "Key of the team whose saved views should be returned.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ADM"
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains all saved landscape views of the team.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponseLandscapeViewAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponseLandscapeViewAO"
                }
              }
            }
          },
          "422": {
            "description": "The given team could not be found."
          }
        }
      },
      "post": {
        "tags": [
          "Explorer"
        ],
        "summary": "Create a saved landscape view",
        "description": "Create a new saved explorer landscape view for a team.",
        "operationId": "createLandscapeView",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertLandscapeViewAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Saved view created, response body contains its details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LandscapeViewAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/LandscapeViewAO"
                }
              }
            }
          },
          "422": {
            "description": "Validation error, the saved view was not created."
          }
        }
      }
    },
    "/api/experiments": {
      "get": {
        "tags": [
          "Experiment Designs"
        ],
        "summary": "Fetch a list of all experiments",
        "description": "Get a list of all experiments that exist.",
        "operationId": "getExperiments",
        "parameters": [
          {
            "name": "runnable",
            "in": "query",
            "description": "Include only experiments which are runnable by the authorized user?",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": false
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter results by name and/or key of the experiment",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Outage"
          },
          {
            "name": "team",
            "in": "query",
            "description": "Filter results by one or more team-keys owning an experiment",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "ADM"
          },
          {
            "name": "teamSharedWith",
            "in": "query",
            "description": "Filter results by one or more team keys the experiment is shared with",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "ADM"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Filter results by one or more experiments-keys",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "ADM-1"
          },
          {
            "name": "externalId",
            "in": "query",
            "description": "Filter results by one or more external-ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "incident-100"
          },
          {
            "name": "targetType",
            "in": "query",
            "description": "Filter results by experiments using the specified target-type. If multiple target-types are specified, all of them needs to be used in the experiment",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "com.steadybit.extension_host.host"
          },
          {
            "name": "action",
            "in": "query",
            "description": "Filter results by experiments using the specified action. If multiple actions are specified, all of them needs to be used in the experiment",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "com.steadybit.extension_host.stress-cpu"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Filter results by experiments having the specified tag. If multiple tags are specified, all of them needs to be assigned to the experiment",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "kubernetes"
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Filter results by experiments using an action with the specified kind. If multiple kinds are specified, all of them needs to be used in the experiment",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ATTACK",
                  "CHECK",
                  "LOAD_TEST",
                  "OTHER",
                  "BASIC"
                ]
              }
            },
            "example": "ATTACK"
          },
          {
            "name": "service",
            "in": "query",
            "description": "Filter results by experiments linked to the given Service. If multiple services are specified, the experiment needs to be linked to all of them",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "Shopping Cart Service"
          },
          {
            "name": "freeTextPhrases",
            "in": "query",
            "description": "Filter results via free text phrases searching for experiment name, key, property values, and 10 last run ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "`ADM-1` or `#212`"
          },
          {
            "name": "properties",
            "in": "query",
            "description": "Filter results via properties",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "`Value` or `EnumApiName:EnumValue`"
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a summary of all existing experiments. Fetch a single experiment using the `experimentKey` to get more details of the experiment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperimentSummariesAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ExperimentSummariesAO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Experiment Designs"
        ],
        "summary": "Create or update an experiment",
        "description": "Insert or update the experiment. The `externalId` will be used to identify whether the experiment exists already and should be updated or newly inserted.",
        "operationId": "createOrUpdateExperiment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExperimentAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Experiment updated"
          },
          "201": {
            "description": "Experiment created"
          },
          "422": {
            "description": "Validation error, experiment was not created / updated"
          }
        }
      }
    },
    "/api/experiments/{key}": {
      "get": {
        "tags": [
          "Experiment Designs"
        ],
        "summary": "Fetch a single experiment",
        "description": "Get all details of a single existing experiment.",
        "operationId": "getExperiment",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Unique experiment key that identifies the experiment. Combination of `team key` and increasing number",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ADM-2"
          }
        ],
        "responses": {
          "200": {
            "description": "Experiment found, response body contains all the experiment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperimentAO"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ExperimentAO"
                }
              }
            }
          },
          "404": {
            "description": "Experiment with given `key` was not found"
          }
        }
      },
      "post": {
        "tags": [
          "Experiment Designs"
        ],
        "summary": "Update an experiment",
        "description": "Update the experiment identified by the experiment `key`.",
        "operationId": "updateExperiment",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Unique experiment key that identifies the experiment. Combination of `team key` and increasing number",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ADM-2"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExperimentAO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Experiment updated"
          },
          "404": {
            "description": "Experiment not found"
          },
          "422": {
            "description": "Validation error, experiment was not updated"
          }
        }
      },
      "delete": {
        "tags": [
          "Experiment Designs"
        ],
        "summary": "Delete experiment",
        "description": "Remove the given experiment. The associated number is still reserved afterwards and will not be reused.",
        "operationId": "deleteExperiment",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Unique experiment key that identifies the experiment. Combination of `team key` and increasing number",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ADM-2"
          }
        ],
        "responses": {
          "200": {
            "description": "Experiment deleted"
          },
          "404": {
            "description": "Experiment could not be found"
          }
        }
      }
    },
    "/api/experiments/{key}/execute": {
      "post": {
        "tags": [
          "Experiment Executions"
        ],
        "summary": "Execute an experiment",
        "description": "   Trigger execution of a single experiment specified by `key`. The body is optional and allows to specify overrides and custom properties for the experiment execution.\n\n   Examples:\n   - Override environment from the experiment for a single run:\n   ```\n   {\n       \"environment\":  \"Shop Stage\"\n   }\n   ```\n   - Override the variables for a single execution:\n   ```\n   {\n       \"variables\": {\n           \"httpEndpoint\": \"http://dev.shop.products.internal\"\n       }\n   }\n   ```\n",
        "operationId": "executeExperiment",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Unique experiment key that identifies the experiment to be started. Combination of `team key` and increasing number",
            "required": true,
            "schema": {
              "type": "string"
            },
[...]
